@{
    ViewData["Title"] = "About";
    <link rel="stylesheet" href="~/css/TrexStyle.css"/>
}
<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="~/css/TrexStyle.css" />-->
</head>
<body class="custom">
    <h1>@ViewData["Title"]</h1>
    <p><b style="font-size: xx-large">VacaPlanner is a website that helps you plan your next vacation!</b></p>
    <ul>
        <li><b style="color: limegreen; font-size:x-large">Check Availability</b></li>
        <li><b style="color: darkblue; font-size: x-large">Book Flights</b></li>
        <li><b style="color: goldenrod; font-size: x-large">Best Deals!</b></li>
    </ul>
</body>
</html>


