@{
    ViewData["Title"] = "VacaPlanner";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Plan your vacations with <a href="https://localhost:44384/Home/About" style="color: black"><b>VacaPlanner.com</b></a></p>
    <img src="https://img.search.brave.com/_Mc_AmPxfVviQCP5hVI1bkH-ZBvGuraYM30tcwxRnmk/rs:fit:480:270:1/g:ce/aHR0cHM6Ly9tZWRp/YS5naXBoeS5jb20v/bWVkaWEvNVhDV0xI/Nm92bHNpSVNwVTJV/L2dpcGh5LmdpZg.gif" style="width: 600px; height: 450px"/>
</div>
